.jumbotron{
    background-color: rgb(60, 78, 134);
    color:white;
}

.footer{
    padding: 10px 10px 10px;
    background-color: rgb(60, 78, 134);
    margin-bottom: 0px;
    color: white;
}

.button{
    color: white;
    background-color:rgb(118, 79, 141);
    width: 100%;
}
